@import 'tailwindcss';

/* Tell Tailwind to scan the UI package for class names */
@source "../../../node_modules/@repo/ui";

@theme {
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: 'cv11';
}
